
<div fxLayout="row" fxLauoutAlign='space-between center' style="  width: 100%;
height: 100%;">
<div class="course-content" *ngIf="mapShown"><app-course-schema></app-course-schema></div>
<div class="main-content">
    <mat-card class="course-section">
        <mat-card-content>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                <span>
                    <mat-icon *ngIf="mapShown" (click)="hideMap();">arrow_left</mat-icon>
                    <mat-icon *ngIf="!mapShown" (click)="hideMap();">arrow_right</mat-icon>
                </span>
              </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>
</div>