.exemple-card-content{
    background: #444b6b !important;
    color:white;
}

.mat-icon{
  font-size: 30px;
}
.mat-nav-list.mat-list-base.ng-tns-c215-0{
  flex-grow: 1;
}

.catalog-button{
    width:80px;
    height:80px;
    //background:#2274a5!important;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  margin: 16px !important;
  padding:0;
  border-radius: 4px;
  width: 250px;
}


.feature-title{
  font-size:16px !important;
  flex:1;
  display: inline-flex !important;
  align-items: center !important;
  text-align:center !important;
}