.input-form {
    margin:10px;
    flex:1;
}

.header-image {
    background-image: url("/assets/images/avatar.jpg");
    background-size: cover;
    height:50px;
    width:50px;
}


.input-form-content {
    border-bottom:0.1em solid rgb(231, 231, 231) !important;
    border-top:0.1em solid rgb(231, 231, 231) !important;
}


// .spacer {
//     width:20px;
//     margin:20px;
// }


.input-column{
    width:700px;
}
.mat-tab-header{
    background-color: #424242;
}
.mat-tab-group.mat-background-primary .mat-tab-header, .mat-tab-group.mat-background-primary .mat-tab-links, .mat-tab-group.mat-background-primary .mat-tab-header-pagination, .mat-tab-nav-bar.mat-background-primary .mat-tab-header, .mat-tab-nav-bar.mat-background-primary .mat-tab-links, .mat-tab-nav-bar.mat-background-primary .mat-tab-header-pagination{
    background-color:rgb(50, 147, 111) !important;
}

@media only screen and (max-width: 600px) {
    .input-column{
        width:300px;
    }
  }

  .mat-form-field{
      margin-bottom:20px;
      width:200px;
  }

.column {
    flex: 1 auto;
    border:0.1em solid rgb(231, 231, 231) !important;
    margin-bottom:10px;
}
