<div class="mat-elevation-z8"><mat-toolbar>  
    <mat-toolbar-row>
    <span>Customers</span>
    <span class="example-spacer"></span>
    <button type="button" mat-icon-button title='Ajouter'>
      <mat-icon class="example-icon"  aria-hidden="false" aria-label="Example add icon">add</mat-icon>
    </button>
    <!-- <mat-divider vertical style="height:20px"></mat-divider>
    <button type="button" mat-icon-button title='Supprimer'>
      <mat-icon class="example-icon"  aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
</div>
<app-generic-list [featureId]="thisFeature" ></app-generic-list>